<!--
This is your default homepage.
For more information, see:
• https://sailsjs.com/documentation/concepts/views
• https://sailsjs.com/documentation/concepts/routes
-->
<link href="https://fonts.googleapis.com/css?family=Lato:300,400" rel="stylesheet">
<style>
  /* Styles included inline since you'll probably be deleting this page anyway */
  .navbar-item {
    text-emphasis: none;
  }

  .restaurant {
    font-size: larger;
    color: blue;
  }
</style>
<script type="text/javascript">
  document.addEventListener('DOMContentLoaded', () => {

    // Get all "navbar-burger" elements
    const $navbarBurgers = Array.prototype.slice.call(document.querySelectorAll('.navbar-burger'), 0);

    // Check if there are any navbar burgers
    if ($navbarBurgers.length > 0) {

      // Add a click event on each of them
      $navbarBurgers.forEach(el => {
        el.addEventListener('click', () => {

          // Get the target from the "data-target" attribute
          const target = el.dataset.target;
          const $target = document.getElementById(target);

          // Toggle the "is-active" class on both the "navbar-burger" and the "navbar-menu"
          el.classList.toggle('is-active');
          $target.classList.toggle('is-active');

        });
      });
    }

  });
</script>
<nav class="navbar" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <a class="navbar-item" href="https://bulma.io">
      <img src="https://bulma.io/images/bulma-logo.png" width="112" height="28">
    </a>

    <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </div>

  <div id="navbarBasicExample" class="navbar-menu is-active">
    <div class="navbar-start">
      <a class="navbar-item">
        Home
      </a>

      <a class="navbar-item" href="/restaurant/search" id="search">
        Search
      </a>

      <a class="navbar-item" href="/restaurant/list" id="admin">
        Admin
      </a>

      <a class="navbar-item" href="/restaurant/create" id="create">
        Create
      </a>

      <a class="navbar-item" href="/user/redeem" id="redeem">
        My redeemd restaurants
      </a>
    </div>

    <div class="navbar-end">
      <div class="navbar-item">
        <div id="welcomemessage">
          Hi, <%=username%>
        </div>
        <div class="buttons">
         
            <a href="/user/login" class="button is-light" id="login">
              Log in
            </a>
            <a href="/user/logout" class="button is-light" id="logout">
              Log out
            </a>
          
        </div>
        
      </div>
    </div>
  </div>
</nav>



<div class="columns">
  <div class="column card">
    <div class="region">HK Island</div>
    <% HKrestaurant.forEach(function(restaurant){%>
    <div>
      <div>
        <a href=" /restaurant/read/<%= restaurant.id %>">
          <img style="object-fit: contain;" src="<%= restaurant.image%>" /></a>
      </div>
      <div class="restaurant">
        <%= restaurant.restaurant %>
      </div>

      <div class="Rtitle">
        <%= restaurant.title %>
      </div>
      <br><br>
      <div class="coins">
        <%= restaurant.coins %>
      </div>
    </div>
    <%});%>

  </div>
  <div class="column card">
    <div class="region">Kowloon</div>
    <% KLrestaurant.forEach(function(restaurant){%>
    <div>
      <div>
        <a href=" /restaurant/read/<%= restaurant.id %>">
          <img style="object-fit: contain;" src="<%= restaurant.image%>" /></a>
      </div>
      <div class="restaurant">
        <%= restaurant.restaurant %>
      </div>

      <div class="Rtitle">
        <%= restaurant.title %>
      </div>
      <br><br>
      <div class="coins">
        <%= restaurant.coins %>
      </div>
    </div>
    <%});%>

  </div>
  <div class="column card">
    <div class="region">New Territories</div>
    <% NTrestaurant.forEach(function(restaurant){%>
    <div>
      <div>
        <a href=" /restaurant/read/<%= restaurant.id %>">
          <img style="object-fit: contain;" src="<%= restaurant.image%>" /></a>
      </div>
      <div class="restaurant">
        <%= restaurant.restaurant %>
      </div>

      <div class="Rtitle">
        <%= restaurant.title %>
      </div>
      <br><br>
      <div class="coins">
        <%= restaurant.coins %>
      </div>
    </div>
    <%});%>

  </div>
</div>

<script>
  function login() {
    var loginbutton = document.getElementById("login");
    var welcomemessage=document.getElementById("welcomemessage");
    var logoutbutton = document.getElementById("logout");
    var adminbutton = document.getElementById("admin");
    var createbutton = document.getElementById("create");
    var redeembutton = document.getElementById("redeem");
    var username="<%=username%>";
    var usertype="<%=usertype%>";
    if (username.length != 0) {
      loginbutton.style.display = "none";
    }else{
      welcomemessage.style.display="none";
      logoutbutton.style.display="none";
    
    }
    if(usertype != "admin"){
      adminbutton.style.display="none";
      createbutton.style.display="none";
    }
    if(usertype !="member"){
      redeembutton.style.display="none";
    }
  }

  login();
</script>