<!--read.ejs-->

<div class="columns">
    <div class="column card is-two-thirds column">
        <img src="<%= restaurant.image%>">
    </div>
    <div class=" column card is-one-thirds column">
        <ul>
            <li>
                <%= restaurant.restaurant %>
            </li>
            <li>
                <%= restaurant.title %>
            </li>
            <li>
                Coins:<%= restaurant.coins%>
            </li>
            <li>
                Address:<%= restaurant.region%>,<%= restaurant.mall%>
            </li>
            <li>
                Expiry date:<%= restaurant.expiarydate%>
            </li>
            <li>
                <%= restaurant.details %>
            </li>
        </ul>
        <br><br>
        <button onclick="addRedeem('<%=restaurant.id%>','<%=user%>')" id="redeem">redeem</button>
    </div>

</div>

<script>
    function redeem() {
        
            var redeemButton = document.getElementById("redeem");
            var usertype = "<%=usertype%>";
            var orders = "<%= restaurant.reserves%>";
            if (orders.length > 0 ||  usertype != "member") {
                redeemButton.style.display = "none";
            }
    }

    redeem();

    async function addRedeem(id,uid) {
        console.log("haha");

        var response = await fetch("/user/addredeem/" + id, {
            method: "POST"
        });

        if (response.ok) {
            var html = await response.text();
            alert(html);
            location.assign("/");
        } else {
            alert(response.status + ": " + response.statusText);
        }

    };
</script>