<!--search-->
<div class="columns">
    <div id="results">


    </div>

    <div class="column card is-one-thirds column">
        <form action="/restaurant/search" method="GET">
            <div class="field">
                <label class="label">Region</label>
                <div class="select">
                    <select id="region" name="region">
                        <option value="region">region</option>
                        <option value="Kowloon">Kowloon</option>
                        <option value="HK Island">HK Island</option>
                        <option value="New Territories">New Territories</option>
                    </select>
                </div>
            </div>

            <div class="field">
                <label class="label">Max coins</label>
                <div class="control">
                    <input class="input" type="number" name="maxcoins">
                </div>
            </div>

            <div class="field">
                <label class="label">Min coins</label>
                <div class="control">
                    <input class="input" type="number" name="mincoins">
                </div>
            </div>

            <div class="field">
                <label class="label">Valid on</label>
                <div class="control">
                    <input class="input" type="text" name="expirarydate" value="not defined">
                </div>
            </div>

            <div class="field">
                <div class="control">
                    <button class="button is-link" onclick="startPage()">Submit</button>
                </div>
            </div>
        </form>
    </div>

</div>
<nav class="pagination" role="navigation" aria-label="pagination">
    <a class="pagination-previous" id="previousButton">Previous</a>
    <a class="pagination-next" id="nextButton">Next page</a>
    <ul class="pagination-list">
        <li>
            <a class="pagination-link" id="firstLink">1</a>
        </li>
        <li>
            <span class="pagination-ellipsis">&hellip;</span>
        </li>
        <li>
            <a class="pagination-link" id="previousLink">45</a>
        </li>
        <li>
            <a class="pagination-link is-current" id="currentLink">46</a>
        </li>
        <li>
            <a class="pagination-link" id="nextLink">47</a>
        </li>
        <li>
            <span class="pagination-ellipsis">&hellip;</span>
        </li>
        <li>
            <a class="pagination-link" id="lastLink">86</a>
        </li>
    </ul>
</nav>

<script>
    var numOfRecords = parseInt("<%= numOfRecords %>");
    function setPagination(limit, offset) {

        var previousButton = document.getElementById("previousButton");
        var nextButton = document.getElementById("nextButton");
        var currentLink = document.getElementById("currentLink");
        var previousLink = document.getElementById("previousLink");
        var nextLink = document.getElementById("nextLink");
        var firstLink = document.getElementById("firstLink");
        var lastLink = document.getElementById("lastLink");




        firstLink.onclick = function () { fetchPage(limit, 0) };
        previousButton.onclick = function () { fetchPage(limit, offset - limit) };
        previousLink.onclick = function () { fetchPage(limit, offset - limit) };
        currentLink.onclick = function () { fetchPage(limit, offset) };
        nextLink.onclick = function () { fetchPage(limit, offset + limit) };
        nextButton.onclick = function () { fetchPage(limit, offset + limit) };
        lastLink.onclick = function () { fetchPage(limit, (Math.ceil(numOfRecords / limit) - 1) * limit) };

        var currentPageNumber = Math.floor(offset / limit) + 1;

        previousLink.innerHTML = currentPageNumber - 1;
        currentLink.innerHTML = currentPageNumber;
        nextLink.innerHTML = currentPageNumber + 1;
        lastLink.innerHTML = Math.ceil(numOfRecords / limit);

        if (offset < limit) {
            previousButton.setAttribute("disabled", true);
            previousButton.href = "";
            previousLink.style.display = "none";
        } else {
            previousButton.removeAttribute("disabled");
            previousLink.style.display = "block";
        }

        if (offset < limit) {
            previousButton.setAttribute("disabled", true);
            previousButton.href = "";
            previousLink.style.display = "none";
        }

        if (offset + limit >= numOfRecords) {
            nextButton.setAttribute("disabled", true);
            nextButton.href = "";
            nextLink.style.display = "none";
        }
    }

    setPagination();
    var region = "";
    var maxcoins = 100000;
    var mincoins = 0;
    var expirarydate = "";


    async function fetchPage(limit, offset) {
        region = document.getElementsByName("region")[0].value;
        maxcoins = document.getElementsByName("maxcoins")[0].value;
        mincoins = document.getElementsByName("mincoins")[0].value;
        expirarydate = document.getElementsByName("expirarydate")[0].value;


        var response = await fetch("/restaurant/search?limit=" + limit + "region=" + region + "&maxcoin=" + maxcoins + "&mincoin=" + mincoins + "&expirarydate=" + expirarydate + "&offset=" + offset, {
            method: "GET"
        });

        if (response.ok) {
            var restaurants = await response.json();



            var dynamicCode = '<div id="results">';



            restaurants.forEach(function (restaurant) {
                dynamicCode += '<div class="column card is-one-third column">';
                dynamicCode += '<div><div><a href=" /restaurant/read/<%= ' + restaurant.id + '%>"><img style="object-fit: contain;" src="<%=';
                dynamicCode += restaurant.image + '%>" /></a></div><div class="restaurant"> <%=';
                dynamicCode += restaurant.restaurant + '%></div><div class="Rtitle"><%=';
                dynamicCode += restaurant.title + ' %> </div><br><br><div class="coins"><%= ';
                dynamicCode += restaurant.coins + ' %> </div></div></div>';
            });

            document.querySelector("results").innerHTML = dynamicCode + "</div>";

            setPagination(limit, offset);

        } else {
            alert(response.status + ": " + response.statusText);
        }


    };
    function startPage() {
        region = document.getElementsByName("region")[0].value;
        maxcoins = document.getElementsByName("maxcoins")[0].value;
        mincoins = document.getElementsByName("mincoins")[0].value;
        expirarydate = document.getElementsByName("expirarydate")[0].value;
        fetchPage(2, 0);
    };
    fetchPage(2, 0);
   
</script>